# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# build outputs
out/
build/
dist/

# plasmo
.plasmo

# typescript
.tsbuildinfo

# IDE
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# Chrome Extension specific
*.crx
*.pem
*.zip
web-ext-artifacts/

# OS specific
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
